/* 顶部基础设置 */
.top{
    width: 1000px;
    margin: 0 auto;
    padding: 18px;
    overflow: hidden;
}
/* 左浮动京东logo和欢迎登录 */
.top .logo .logo,.top .logo .wel{
    float: left;
}
/* 调整京东logo和欢迎登录之间的距离以及字体颜色和样式 */
.top .logo .wel{
    height: 60px;
    line-height: 70px;
    font-weight: normal;
    margin-left: 25px;
    color: #333333;
}
/* 使用元素的相对定位将其调整到合适的界面并调整字体颜色和样式 */
.top .survey {
    position: relative;
    float: right;
    top: 45px;
    font-size: 12px;
    font-family: SimSun;
    color: #999999;
}
/* 政策条款  改背景色、字体、字号并居中*/
.policy{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom:10px;
    background: #fff8f0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: SimSun;
    color: #999999;
}
/* 条款 调整颜色*/
.policy .policy{
    padding:0px;
    color: #333333;
}
/* 定义主界面高度和颜色*/
.main{
    height: 475px;
    background-color: #E93854;
}
/* 导入背景图并居中 */
.main .img{
    width: 990px;
    height: 475px;/* 或者100% */
    margin: 0 auto;
    background: url(../image/main.png);
}
/* 定义登录页面的高度宽度 并定位好位置 */
.main .img .login{
    width: 350px;
    height: 410px;
    background-color: white;
    float: right;
    margin-top: 15px;
}
/* 上边的提醒警告栏 修改padding 字号 字体 */
.main .img .login .top{
    text-align: center;
    width: 350px;
    padding: 10px 0;
    background-color:#fff8f0;
    color: #666666;
    font-size: 12px;
    font-family: SimSun;
}
/* 扫码登录和账号登录大盒子 */
.main .img .login .sel{
    width: 350px;
    height: 56px;
    display: block;
}
/* 扫码登录和账号登录 */
.main .img .login .left,
.main .img .login .right{
    width: 175px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    border-bottom: 1px solid #f4f4f4;
}
.main .img .login .left{
    float: left;
}
.main .img .login .right{
    float: right;
}
/* 取消放上去的下划线 */
.main .img .login a:hover{
    text-decoration: none;
}
.main .img .login .right a{
    color: #E93854;
    font-weight: bolder;
}
/* 两个输入框都定位 */
.show{
    padding-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
}
.show .user,.show .pwd{
    width: 304px;
    height: 38px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 50px;
    box-sizing: border-box;
}
.inputs {
    position: relative;
}
/* 图标位置定位 */
.show span {
    display: block;
    width: 36px;
    height: 36px;
    border-right: 1px solid #ccc;
    background-color: #f3f3f3;
    position: absolute;
}
/* 将图标导入 */
.show .user_img {
    top: 1px;
    left: 1px;
    background: url("../image/account.png") no-repeat;
}
.show .pwd_img {
    top: 59px;
    left: 1px;
    background: url("../image/pwd.png") no-repeat;
}
/* 忘记密码定位 */
.inputs a{
    float: right;
    font-size: 12px;
    font-family: SimSun;
    padding-bottom: 30px;
}
/* 登录按钮定位 */
.inputs .button{
    border: 1px solid #e85356;
    display: block;
    width: 302px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
}
/* 底部第三方登录和注册 */
.login-bottom{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top:1px solid #f4f4f4 ;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
/* 调整底部的一些细节 图标与文字的位置等 */
.login-bottom .other-login a{
    position: relative;
    font-size: 12px;
    bottom: 5px;
}
.login-bottom .enroll a{
    position: relative;
    font-family: SimSun;
    font-size: 14px;
    color: #E93854;
    bottom: 3px;
}

/* 底部基础设置 与中央部分的距离调整 文字居中 字体、字号、颜色 */
.bottom{
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
    font-family: SimSun;
    color: #666666;
}
/* 调整版权和关于我们项目之间的距离 */
.bottom .copy{
    margin-top: 12px;
}